.contacts {
    display: flex;
    padding: 0;
    gap: 30px;
    margin-left: auto;
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.026rem;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__item:visited {
    color: var(--text-color);
    text-decoration: none;
    fill: var(--text-color);
  }
  .contacts__item:hover,
  .contacts__item:focus {
    color: var(--active-color);
  }
  .contacts__item--footer {
    color: var(--footer-contact-color);
    margin-bottom: 9px;
    font-weight: 400;
  }
  .contacts__item--footer:visited {
    color: var(--footer-contact-color);
  }