:root {
    --brand-color: #ffffff;
    --active-color: #2196f3;
    --text-color: #757575;
    --logo-color: #000000;
    --border-color: #ececec;
    --second-border-color: #eeeeee;
    --brand-text-color: #212121;
    --main-background-color: #2f303a;
    --subsection-background-color: #f5f4fa;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-icon-background: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.25);
    --second-shadow-color: rgba(0, 0, 0, 0.12);
    --third-shadow-color: rgba(0, 0, 0, 0.14);
    --forth-shadow-color: rgba(0, 0, 0, 0.2);
    --fifth-shadow-color: rgba(0, 0, 0, 0.16);
    --icon-color: #afb1b8;
  }

